logs/*.json
config/*.json
config/locale/*.json

!config/locale/fr.json
!config/locale/de.json

!config/default.json

!config/custom-environment-variables.json
src/lib/discord/commando/commands/template.js
npm-debug.log
.DS_Store
.env
.idea/
node_modules/*
package-lock.json
potato/*
src/lib/db/poracle.sqlite
.geoCache
/.cache/cache/