logs/*.json
config/*.json
!config/examples/*
!config/default.json
!config/custom-environment-variables.json
.env
src/helpers/commando/commands/filterBackups/*.sql
node_modules
package-lock.json
build
npm-debug.log
.DS_Store
.idea/*
.nuxt/*