logs/*
config/*.json
config/customMaps/*
config/dts/*.json
config/locale/*.json
docker-compose.yml
.cache/*
.idea
.idea/*
.vscode
*.heapsnapshot

!config/locale/fr.json
!config/locale/de.json
nominatimData/*
!nominatimData/.gitkeep
!nominatimData/postgres/.gitkeep
poracledb/*

!config/default.json

!config/custom-environment-variables.json
npm-debug.log
.DS_Store
.env
.idea/
node_modules/*
package-lock.json
potato/*
src/lib/db/poracle.sqlite
.geoCache
/.cache/cache/
backups/*.json
.weather*

/src/util/monsters.json
/src/util/moves.json
/src/util/questTypes.json
/src/util/grunts.json
/src/util/items.json
/src/util/types.json
/src/util/locale/*.json