
module.exports = {
	loading: {
		color: 'purple'
	},
    plugins: [
        { src: '~/plugins/menu', ssr: false },
        { src: '~/plugins/monsterData', ssr: false }

    ],
	modules: ['@nuxtjs/axios', 'nuxt-leaflet', 'nuxt-svg'],

	axios: {
      retry: { retries: 3 }
    },

	css: [
	    '@/assets/css/PoracleMap.css'
	],

	env: {
		tileServer: "TILESERVER",
		startPos: "STARTPOS",
		startZoom: "STARTZOOM",
		minZoom: "MINZOOM",
		maxZoom: "MAXZOOM"
	}
}