.line-chart {
    margin: 0 auto;
    display:table;
    width: 100%;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin: 4px 2px;
}

.menuButton {
    background-color: #4CAF50;
    border: none;
    color: white;
    width: 100%;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin: 4px 2px;
}

.topbuttons {
    display: table;
    margin: 0 auto;
}

.title {
     color: #c1694f;
     font-family: Impact, Charcoal, sans-serif;
     text-align: center;
     font-size: 40px;
     margin: 0;
 }

.toggleButton {
    position: absolute;
    rotation: 90deg;
    z-index: 999;
    fill: none;
    border: 0px;
    left: 0px;
    top: 8px;
    background-color: transparent;
    outline: none;


}
.Sidebar {
    position: fixed;
    top:10%;
    text-align: center;
    z-index: 999;
    left:  -0%;
    width: 30%;
    background-color: transparent;
}

.monsterTable {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, 150px);
}

.monster {
    text-align: center;
    font-size: 12px;
    width: 100%;
    text-wrap: auto;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: absolute;
    display: inline-block;
    left: 0px;
}

.dropdown-content {
    display: none;
    position: auto;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 800;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

pre {
    display: block;
    font-family: monospace;
    white-space: pre;
    margin: 1em 0;
}



.accordion {
       background-color: #eee;
       color: #444;
       cursor: pointer;
       padding: 18px;
       width: 100%;
       text-align: left;
       border: none;
       outline: none;
       transition: 0.4s;
   }

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
    background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    background-color: white;
    display: block;
    overflow: hidden;
}

