#map {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 30px;
    font-family: sans-serif;
}

.popupPoracle {
    text-align: center;
    align-content: center;
}

.raidGymPopup {
    text-align: center;
    align-content: center;

}
#gymImg {
    width: 90px
}

.bm-burger-button {
    position: inherit;
    z-index: 500;
}