#map {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 30px;
    z-index: 990;
    font-family: sans-serif;
}

.popupPoracle {
    text-align: center;
    align-content: center;
}

.raidGymPopup {
    text-align: center;
    align-content: center;

}
#gymImg {
    width: 90px
}

.menuButton {
    position: fixed;
    z-index: 999;
    fill: none;
    border:none;
    right: 0px;
    top: 8px;
    background-color: transparent;

}
.Sidebar {
    position: absolute;
    z-index: 999;
    right: 0px;
    width: 500px;


}