{
  "db": {
    "host": "127.0.0.1",
    "user": "poracle",
    "password": "potato",
    "database": "poracle",
    "port": "3306",
    "connectionLimit": 30
  },
  "general": {
    "logLevel": "debug",
    "host": "127.0.0.1",
    "port": "3030",
    "imgurl": "https://raw.githubusercontent.com/KartulUdus/PoracleJS/master/app/src/util/images/",
    "max_pokemon": 375
  },

  "map": {
    "enabled": true,
    "host": "127.0.0.1",
    "port": "4040",
    "startPos": "59.4372155, 24.7453688",
    "startZoom": 13,
    "tileServer": "http://{s}.tile.osm.org/{z}/{x}/{y}.png",
    "spriteDir": "images"
  },

  "locale": {
    "timeformat": "en-gb",
    "time": "LTS",
    "addressformat": "%S %n",
    "commandMonstersJson": "../util/monsters",
    "monstersJson": "../util/monsters",
    "movesJson": "../util/moves"
  },

  "geocoding": {
    "provider": "OSM",
    "googleKey":["AIzaSyD4nFUhRqGYw4f06H9zmNURafnwbdvMMh4"],
    "width": 250,
    "height": 175,
    "zoom": 15,
    "type": "roadmap",
    "geofence": "../../../config/geofence_example.json"
  },

  "discord": {
    "token": ["YourDiscordToken"],
    "channel": "general",
    "admins": ["2222222222222222222"],
    "comDayResultChannelId":"383608765972217857",
    "modRole":"sudo",
    "prefix": "!",
    "typereact": true,
    "limitsec": 30,
    "limitamount": 20,
    "iv_colors": [
        "#9D9D9D",
        "#FFFFFF",
        "#1EFF00",
        "#0070DD",
        "#A335EE",
        "#FF8000"
    ]
  }
}