{
  "db": {
    "host": "",
    "user": "",
    "password": "",
    "database": "",
    "port": "",
    "connectionLimit": 100
  },
  "general": {
    "logLevel": "info",
    "host": "127.0.0.1",
    "port": "3030",
    "imgurl": "https://raw.githubusercontent.com/KartulUdus/PoracleJS/master/app/src/util/images/",
    "max_pokemon": 375
  },

  "locale": {
    "timeformat": "en-gb",
    "time": "LTS",
    "addressformat": "%S %n",
    "commandMonstersJson": "../util/monsters",
    "monstersJson": "./util/monsters",
    "movesJson": "./util/moves"
  },

  "gmaps": {
    "key":"",
    "width": 250,
    "height": 175,
    "zoom": 15,
    "type": "roadmap",
    "rocketmap":"http://yourmap.com/RocketMap/"
  },

  "discord": {
    "token": "",
    "channel": "general",
    "admins": ["222222222222222222"],
    "prefix": "!",
    "typereact": true,
    "limitsec": 300,
    "limitamount": 20
  },

  "rabbit": {
    "conn": "amqp://poracle:poracle@localhost:5672"
  },

  "geofence": []

}