{
  "db": {
    "host": "127.0.0.1",
    "user": "poracle",
    "password": "potato",
    "database": "poracle",
    "port": "3306",
    "connectionLimit": 30
  },
  "general": {
    "logLevel": "info",
    "host": "127.0.0.1",
    "port": "3030",
    "imgurl": "https://raw.githubusercontent.com/KartulUdus/PoracleJS/master/src/app/util/images/",
    "max_pokemon": 500
  },

  "locale": {
    "timeformat": "en-gb",
    "time": "LTS",
    "addressformat": "%S %n",
    "commandMonstersJson": "../util/monsters",
    "monstersJson": "../util/monsters",
    "movesJson": "../util/moves"
  },

  "geocoding": {
    "provider": "OSM",
    "googleKey":["YOUR GOOGLE KEY"],
    "width": 250,
    "height": 175,
    "zoom": 15,
    "type": "roadmap",
    "geofence": "../../../config/geofence.example.json"
  },

  "discord": {
    "token": ["YOUR DISCORD TOKEN"],
    "channel": "general",
    "admins": ["222742859059560458"],
    "comDayResultChannelId":"383608765972217857",
    "modRole":"sudo",
    "prefix": "!",
    "typereact": false,
    "limitsec": 30,
    "limitamount": 20,
    "iv_colors": [
        "#9D9D9D",
        "#FFFFFF",
        "#1EFF00",
        "#0070DD",
        "#A335EE",
        "#FF8000"
    ]
  }
}