{
  "monster": {
    "1": {
      "embed": {
        "color": "{{ivcolor}}",
        "author": {
          "name": "#{{id}} {{name}} L{{level}} {{atk}}/{{ def }}/{{ sta }}, {{iv}}%. end: {{time}}, time left: {{tthm}}m {{tths}}s {{flagemoji}} {{lat}}, {{lon}} {{addr}}",
          "icon_url": "{{{imgurl}}}"
        },
        "description": "\n  [Google Maps]sfkjahfkjadsh ({{{mapurl}}}) [Apple Maps]({{{applemap}}})"
      }
    },
    "2": {
      "embed": {
        "color": "{{ivcolor}}",
        "title": "#{{id}} {{name}} L{{level}} {{atk}}/{{ def }}/{{ sta }}, {{iv}}%. end: {{time}}, time left: {{tthm}}m {{tths}}s {{flagemoji}} {{lat}}, {{lon}} {{addr}}",
        "thumbnail": {
          "url": "{{{gif}}}"
        },
        "description": "\n{{{emojistring}}}  [Google Maps]({{{mapurl}}}) [Apple Maps]({{{applemap}}})"
      }
    },
    "3": {
      "embed": {
        "color": "{{ivcolor}}",
        "title": "#{{id}} {{name}} cp:{{cp}} L{{level}} {{atk}}/{{ def }}/{{ sta }}",
        "description": "IV:{{iv}}%. end: {{time}}, time left: {{tthm}}m {{tths}}s {{flagemoji}} {{lat}}, {{lon}} {{addr}} \n quick: {{move1}}, charge {{move2}} \n{{{emojistring}}}  [Google Maps]({{{mapurl}}}) [Apple Maps]({{{applemap}}})",
        "thumbnail": {
          "url": "{{{imgurl}}}"
        }
      }
    },
    "4": {
      "embed": {
        "color": "{{ivcolor}}",
        "title": "#{{id}} {{name}} cp:{{cp}} L{{level}} {{atk}}/{{ def }}/{{ sta }}",
        "description": "IV:{{iv}}%. end: {{time}}, time left: {{tthm}}m {{tths}}s {{flagemoji}} {{lat}}, {{lon}} {{addr}} \n quick: {{move1}}, charge {{move2}} \nMatched Areas:{{areas}} \n[Google Maps]({{{mapurl}}}) [Apple Maps]({{{applemap}}})",
        "thumbnail": {
          "url": "{{{imgurl}}}"
        }
      }
    },
    "5": {
      "embed": {
        "color": "{{ivcolor}}",
        "title": "#{{id}} {{name}} cp:{{cp}} L{{level}} {{atk}}/{{ def }}/{{ sta }}",
        "description": "IV:{{iv}}%. end: {{time}}, time left: {{tthm}}m {{tths}}s {{flagemoji}} {{lat}}, {{lon}} {{addr}} \n quick: {{move1}}, charge {{move2}} \nMatched Areas:{{areas}} \n[Google Maps]({{{mapurl}}}) [Apple Maps]({{{applemap}}})",
        "thumbnail": {
          "url": "{{{imgurl}}}"
        }
      }
    }
  },
  "monsterNoIv": {
    "1": {
      "embed": {
        "color": "{{color}}",
        "author": {
          "name":"#{{id}} {{name}} end: {{time}}, time left: {{tthm}}m {{tths}}s {{flagemoji}} {{lat}}, {{lon}} {{addr}}",
          "icon_url": "{{{imgurl}}}"
        },
        "description": "\n{{{emojistring}}}  [Google Maps]({{{mapurl}}}) [Apple Maps]({{{applemap}}})"
      }
    },
    "2": {
      "embed": {
        "color": "{{color}}",
        "thumbnail": {
          "url": "{{{gif}}}"
        },
        "description":"#{{id}} {{name}} end: {{time}}, time left: {{tthm}}m {{tths}}s {{flagemoji}} {{lat}}, {{lon}} {{addr}} \n{{{emojistring}}}  [Google Maps]({{{mapurl}}}) [Apple Maps]({{{applemap}}})"
      }
    },
    "3": {
      "embed": {
        "color": "{{color}}",
        "thumbnail": {
          "url": "{{{imgurl}}}"
        },
        "description":"#{{id}} {{name}} end: {{time}}, \ntime left: {{tthm}}m {{tths}}s {{flagemoji}} {{lat}}, {{lon}} {{addr}} \n{{{emojistring}}}  [Google Maps]({{{mapurl}}}) [Apple Maps]({{{applemap}}})"

      }
    },
    "4": {
      "embed": {
        "title":"#{{id}} {{name}}",
        "color": "{{color}}",
        "thumbnail": {
          "url": "{{{imgurl}}}"
        },
        "description":"#{{id}} {{name}} end: {{time}}, \ntime left: {{tthm}}m {{tths}}s {{flagemoji}} {{lat}}, {{lon}} {{addr}} \n{{{emojistring}}}  [Google Maps]({{{mapurl}}}) [Apple Maps]({{{applemap}}})"

      }
    },
    "5": {
      "embed": {
        "title":"#{{id}} {{name}}",
        "color": "{{color}}",
        "thumbnail": {
          "url": "{{{imgurl}}}"
        },
        "description":"#{{id}} {{name}} end: {{time}}, \ntime left: {{tthm}}m {{tths}}s {{flagemoji}} {{lat}}, {{lon}} {{addr}} \n{{{emojistring}}}  [Google Maps]({{{mapurl}}}) [Apple Maps]({{{applemap}}})"

      }
    }
  },
  "raid": {
    "1": {
      "embed": {
        "color": "{{color}}",
        "author": {
          "name": "R{{level}} {{name}} {{flagemoji}} {{lat}}, {{lon}} end: {{time}}, {{tthm}}m {{tths}}s",
          "url": "{{{mapurl}}}",
          "icon_url": "{{{imgurl}}}"
        }
      }
    },
    "2": {
      "embed": {
        "title": "{{gymname}}: {{ex}}, \n {{countryCode}} {{flagemoji}} {{addr}} {{lat}}, {{lon}} )",
        "description": "[Google Maps]({{{mapurl}}}) [Apple Maps]({{{applemap}}})",
        "color": "{{color}}",
        "thumbnail": {
          "url": "{{{detailsurl}}}"
        },
        "author": {
          "name": "{{name}} lvl{{level}} end: {{time}}, {{tthm}}m {{tths}}s",
          "url": "{{{mapurl}}}",
          "icon_url": "{{{gif}}}"
        }
      }
    },
    "3": {
      "embed": {
        "title": "Raid against {{name}}  has started! at {{gymname}}",
        "description": " {{{emojistring}}}  [Google Maps]({{{mapurl}}}) [Apple Maps]({{{applemap}}})",
        "color": "{{color}}",
        "thumbnail": {
          "url": "{{{imgurl}}}"
        },
        "author": {
          "name": "{{name}} lvl{{level}} end: {{time}}, {{tthm}}m {{tths}}s",
          "icon_url": "{{{detailsurl}}}"
        }
      }
    },
    "4": {
      "embed": {
        "title": "Raid has started! at {{gymname}} {{flagemoji}} {{addr}}",
        "description": "Quick Move {{move1}} Charge Move: {{move2}} \nunboosted target Cp: {{mincp20}} - {{cp20}} \nBoosted CP target {{mincp25}} - {{cp25}} \n{{{emojistring}}}  [Google Maps]({{{mapurl}}}) [Apple Maps]({{{applemap}}})",
        "color": "{{color}}",
        "thumbnail": {
          "url": "{{{imgurl}}}"
        },
        "author": {
          "name": "{{name}} lvl{{level}} end: {{time}}, {{tthm}}m {{tths}}s",
          "icon_url": "{{{detailsurl}}}"
        }
      }
    },
    "5": {
      "embed": {
        "title": "Raid level {{level}} has started! at {{gymname}} {{flagemoji}} {{addr}} \n {{areas}}",
        "description": "{{name}} will end at {{time}}, you have {{tthm}}m {{tths}}s left \nQuick: {{move1}} Charge: {{move2}} \nunboosted target Cp: {{mincp20}} - {{cp20}} \nBoosted CP target {{mincp25}} - {{cp25}}  \n{{{emojistring}}}  [Google Maps]({{{mapurl}}}) [Apple Maps]({{{applemap}}})",
        "color": "{{color}}",
        "thumbnail": {
          "url": "{{{detailsurl}}}"
        },
        "image": {
          "url": "{{{imgurl}}}"
        }
      }
    }
  },
  "egg": {
    "1": {
      "embed": {
        "color": "{{color}}",
        "author": {
          "name": "R{{level}} {{flagemoji}} {{lat}}, {{lon}} hatch: {{time}}, {{tthm}}m {{tths}}s",
          "url": "{{{mapurl}}}",
          "icon_url": "{{{imgurl}}}"
        }
      }
    },
    "2": {
      "embed": {
        "title": "{{gymname}}: {{ex}}, \n {{countryCode}} {{flagemoji}} {{addr}} {{lat}}, {{lon}} )",
        "description": "[Google Maps]({{{mapurl}}}) [Apple Maps]({{{applemap}}})",
        "color": "{{color}}",
        "thumbnail": {
          "url": "{{{detailsurl}}}"
        },
        "author": {
          "name": "lvl{{level}} hatch: {{time}} in {{tthm}}m {{tths}}s",
          "icon_url": "{{{imgurl}}}"
        }
      }
    },
    "3": {
      "embed": {
        "title": "Raid level{{lvl}}  has started! at {{gymname}}",
        "description": " {{{emojistring}}}  [Google Maps]({{{mapurl}}}) [Apple Maps]({{{applemap}}})",
        "color": "{{color}}",
        "thumbnail": {
          "url": "{{{detailsurl}}}"
        },
        "author": {
          "name": "{{name}} lvl{{level}} end: {{time}}, {{tthm}}m {{tths}}s",
          "icon_url": "{{{imgurl}}}"
        }
      }
    },
    "4": {
      "embed": {
        "title": "Raid will hatch ({{ex}}) {{gymname}} {{flagemoji}} {{addr}}",
        "description": "[Google Maps]({{{mapurl}}}) [Apple Maps]({{{applemap}}})",
        "color": "{{color}}",
        "thumbnail": {
          "url": "{{{imgurl}}}"
        },
        "image": {
          "url": "{{{detailsurl}}}"
        },
        "author": {
          "name": "{{name}} lvl{{level}} end: {{time}}, {{tthm}}m {{tths}}s",
          "icon_url": "{{{detailsurl}}}"
        }
      }
    },
    "5": {
      "embed": {
        "title": "Raid level {{level}} will hatch at {{gymname}} {{flagemoji}} {{addr}} \n {{areas}}",
        "description": "Hatch time: {{time}}, you have {{tthm}}m {{tths}}s left \nCoords: {{lat}}, {{lon}} \n[Google Maps]({{{mapurl}}}) [Apple Maps]({{{applemap}}})",
        "color": "{{color}}",
        "thumbnail": {
          "url": "{{{detailsurl}}}"
        },
        "image": {
          "url": "{{{imgurl}}}"
        }
      }
    }
  },
  "quest": {
    "1": {
      "embed": {
        "description": "[Google Maps]({{{mapurl}}}) | [Apple Maps]({{{applemap}}})",
        "author": {
          "name": " {{questType}}, {{conditions}}, {{reward}} {{flagemoji}} {{lat}}, {{lon}} {{addr}",
          "url": "{{{mapurl}}",
          "icon_url": "{{{imgurl}}}"
        }
      }
    },
    "2": {
      "embed": {
        "title": "Conditions: {{conditions}} \nReward:  {{reward}}",
        "url": "{{{mapurl}}}",
        "description": "[Google Maps]({{{mapurl}}}) | [Apple Maps]({{{applemap}}})",
        "author": {
          "name": " {{questType}}, {{lat}}, {{lon}} {{addr}",
          "url": "{{{mapurl}}",
          "icon_url": "{{{imgurl}}}"
        }
      }
    },
    "3": {
      "embed": {
        "title": "{{questType}}, {{flagemoji}} {{lat}}, {{lon}} {{addr}} \n Pokestop Name: {{name}}",
        "url": "{{{mapurl}}}",
        "description": "Conditions: {{conditions}} \nReward:  {{reward}} {{monsterNames}} \n[Google Maps]({{{mapurl}}}) | [Apple Maps]({{{applemap}}})",
        "thumbnail": {
          "url": "{{{imgurl}}}"
        }
      }
    },
    "4": {
      "embed": {
        "title": "{{questType}}, {{flagemoji}} {{lat}}, {{lon}} {{addr}} \n Pokestop Name: {{name}}",
        "url": "{{{mapurl}}}",
        "description": "Conditions: {{conditions}} \nReward:  {{reward}} {{monsterNames}} \n[Google Maps]({{{mapurl}}}) | [Apple Maps]({{{applemap}}})",
        "thumbnail": {
          "url": "{{{imgurl}}}"
        },
        "image": {
          "url": "{{{url}}}"
        }
      }
    },
    "5": {
      "embed": {
        "title": "{{questType}}, {{flagemoji}} {{lat}}, {{lon}} {{addr}} \n Pokestop Name: {{name}}",
        "url": "{{{mapurl}}}",
        "description": "Conditions: {{conditions}} \nReward:  {{reward}} {{monsterNames}} \n[Google Maps]({{{mapurl}}}) | [Apple Maps]({{{applemap}}})",
        "thumbnail": {
          "url": "{{{url}}}"
        },
        "image": {
          "url": "{{{imgurl}}}"
        }
      }
    }
  },
  "greeting": {
    "embed": {
      "title": "Welcome",
      "description": "Thank you for registering \nPlease set a location `!location name of place` or add ares where to receive alarms from",
      "fields": [
        {
          "name": "General commands",
          "value": "`!poracle`: Adds you to database and enables tracking` \n`!unregister`: Removes you from tracking \n`!stop`: Temporarily stops alarms \n`!start`: Re-enables alarms \n`!location yourArea`: Searches for yourArea and sets it as your location \n`!area add somePlace`: Sets one or multiple areas where to receive alarms from, areas need to be configured by admin \n`!area remove somePlace`: Removes a configured area"
        },
        {
          "name": "Monster tracking commands",
          "value": "`!track snorlax lapras d500 iv50 maxiv90 cp1000 level15`: Any arguments are optional, this command would alert you about snorlax and lapras within 500 meters of your location or inside an added area. The set filters require them to have IV between 50% - 90% be at least level 15 and minimum CP of 1000 \n`!untrack lapras vileplume`: will remove tracking for lapras and vileplume"
        },
        {
          "name": "Raid tracking commands",
          "value": "`!raid snorlax lapras d500 instinct`: Any arguments are optional, this command would alert you about snorlax and lapras raids within 500 meters of your location or inside an added area. The set filters require the Gym to be controlled by team Instinct \n`!raid remove lapras vileplume`: will remove tracking for lapras and vileplume raids"
        },
        {
          "name": "Raid egg tracking commands",
          "value": "`!egg level3 d500 instinct`: Any arguments are optional, this command would alert you about level 3 raid eggs within 500 meters of your location or inside an added area. The set filters require the Gym to be controlled by team Instinct \n`!egg remove level3`: will remove tracking for level 3 raid eggs"
        },
        {
          "name": "Quest tracking commands",
          "value": "`!quest porygon pikachu poke ball d500 `: Any arguments are optional, this command would alert you about Quests obtainable within 500m of your location with porygon, pikachu or pokeballs as rewards \n `!remove quest all items` Removes tracking for all item based quests. Can also use `all pokemon` or `stardust`"
        }
      ]
    }
  },
  "tracked": ""
}